@using BASE.Service
@using Microsoft.AspNetCore.Html;
@model BASE.Areas.Frontend.Models.VM_Activity

@await Html.PartialAsync("_BannerPartial", new BASE.Areas.Frontend.Models.Extend.BannerPartial(){ Main = "活動訊息", Detail = Model.ActivityExtendItem.Header.Title })

@section Scripts
{
    @if (TempData["CostomTempEmail"] != null)
    {
        <script>
            $(document).ready(function () {
                var myModal = new bootstrap.Modal(document.getElementById('regisDoneModal'));
                myModal.show();
            });
        </script>
    }
}

<!-- ================================================== -->
<!-- 活動訊息 內頁-->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5">
    <div class="container" id="content">
        <a accesskey="C" href="#" title="中央內容區塊" class="sr-only sr-only-focusable">:::</a>
        <div class="row">
            <!-- 左邊內容區塊 -->
            <div class="col-lg-9 col-12">
                <div class="activityPage mt-3 p-md-0 p-3">
                    <h2>@Model.ActivityExtendItem.Header.Title</h2>
                    <h3>@Model.ActivityExtendItem.Header.Subject</h3>

                    <img src="@Model.ActivityExtendItem.FileInfo.FilePath" class="img-fluid" alt="活動圖片: @Model.ActivityExtendItem.Header.Title">

                    <h4><i class="fa-regular fa-paper-plane me-3 fc-green" aria-hidden="true"></i>活動簡介</h4>
                    <p>
                        @{
                            String content = System.Text.RegularExpressions.Regex.Replace(Model.ActivityExtendItem.Header.Description, "<.*?>", String.Empty);
                                   content = content.Replace(Environment.NewLine, "<br />");
                        }
                        @(new HtmlString(content))
                    </p>
                </div>
            </div>

            <!-- 右邊報名區塊 -->
            <div class="col-lg-3 col-12">
                <div class="activityInfo bg-white p-4">
                    <div class="info-title">
                        <i class="fa-solid fa-book-open me-2 fc-green" aria-hidden="true"></i>
                        相關活動資訊
                    </div>
                    <div class="info-text row">
                        <div class="text">活動主題：@Model.ActivityExtendItem.Header.Subject</div>
                        <div class="text">活動地點：@Model.ActivityExtendItem.Header.Place</div>
                        <div class="text">活動日期：</div>

                        @foreach(var day in Model.ActivityExtendItem.Sections.GroupBy(x => x.Day))
                        {
                            <div class="dateBox col-12 col-md-6 col-lg-12">
                                <div class="act-time">
                                    <div class="act-date">
                                        <i class="fa-regular fa-calendar-days me-2 fc-ored" aria-hidden="true"></i>
                                        @day.Key.ToString("yyyy / MM / dd")
                                    </div>
                                    @foreach(var time in day) 
                                    {
                                        <div class="mt-2">
                                            <span class="bg-gray py-1 px-2 fs--1 rounded-pill">時段</span>
                                            @time.StartTime.ToString(@"hh\:mm")
                                            -
                                            @time.EndTime.ToString(@"hh\:mm")
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <hr>
                    <div class="info-title">
                        <i class="fa-solid fa-user ms-1 me-2 fc-green" aria-hidden="true"></i>
                        報名名額
                    </div>
                    <div class="info-text">
                        <div><span class="fc-orange fw-bold fs-2">@Model.ActivityExtendItem.Header.Quota</span>人</div>
                    </div>
                    <hr>
                    <div class="info-title">
                        <i class="fa-solid fa-user-group me-2 fc-green" aria-hidden="true"></i>
                        報名對象
                    </div>
                    <div class="info-text">
                        <div>@Model.ActivityExtendItem.Header.RegisterFor</div>
                    </div>
                    <hr>
                    <div class="info-title">
                        <i class="fa-solid fa-circle-info ms-1 me-2 fc-green" aria-hidden="true"></i>
                        講師資訊
                    </div>
                    <div class="info-text">
                        <div>@Model.ActivityExtendItem.Header.LecturerInfo</div>
                    </div>

                    <div class="d-grid gap-2 mt-5">

                        @if(Model.ActivityExtendItem.Header.RegEndDate > DateTime.Now && Model.ActivityExtendItem.Header.IsPublish == true){
                        <a class="btn btn-primary" href="@Url.Action("Register", new { id = EncryptService.AES.RandomizedEncrypt(Model.ActivityExtendItem.Header.Id) })">
                            <i class="fa-solid fa-paper-plane me-2" aria-hidden="true"></i>馬上報名</a>
                        }

                        <a class="btn btn-outline-primary" href="@Url.Action("List", new { id= Model.ActivityExtendItem.Header.Category})">
                            <i class="fa-solid fa-chevron-left me-2" aria-hidden="true"></i>返回列表頁</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 報名完成Modal -->
<div class="modal fade" id="regisDoneModal" tabindex="-1" aria-labelledby="regisDoneModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0" id="regisDoneModalLabel">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/areas/frontend/img/subs-done.png" class="img-fluid mt-n1" alt="" />
                <div class="fs-2 fw-bold mb-4">報 名 完 成</div>
                <img src="~/areas/frontend/img/regis-done.png" class="img-fluid" alt="" />
                <p class="mt-4">恭喜您報名完成，<br>相關訊息會再寄到<span class="fc-blue">@TempData["CostomTempEmail"] </span>信箱。</p>
                <button type="button" class="btn btn-success mb-2 w-100" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>