@using BASE.Service
@model BASE.Areas.Frontend.Models.VM_ActivityReigster

@await Html.PartialAsync("_BannerPartial", new BASE.Areas.Frontend.Models.Extend.BannerPartial(){ Main = "活動訊息", Detail = "報名活動" })

<!-- ================================================== -->
<!-- 活動訊息 報名頁-->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5">
    <div class="container">
        <a accesskey="C" href="#" title="中央內容區塊" class="sr-only sr-only-focusable">:::</a>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-12">
                <div class="registrationBox bg-white p-4">
                    <div class="row">
                        <div class="col-12 text-center border-bottom rb-title">
                            <h2 class="fc-green fw-bold"><span>報名表</span></h2>
                            <small>請填寫以下報名表單，請注意必填欄位，確認後送出。</small>
                        </div>
                    </div>
                    <form id="frm" method="post" class="row g-3 justify-content-center mt-3" data-parsley-validate="">
                         @Html.AntiForgeryToken()

                        <div class="col-md-4">
                            <label for="Main_CompanyName" class="form-label">企業名稱<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.Main.CompanyName, new { @class="form-control", placeholder="請輸入企業名稱", required="required"})
                        </div>
                        <div class="col-md-4">
                            <label for="Main_CompanyLocation" class="form-label">企業所在地<span class="fc-red ms-1">*</span></label>
                            @Html.DropDownListFor(x => x.Main.CompanyLocation, Model.ddlCompanyLocation, new { @class="form-select", required="required" })
                        </div>
                        <div class="col-md-4">
                            <label for="Main_CompanyType" class="form-label">產業別<span class="fc-red ms-1">*</span></label>
                            @Html.DropDownListFor(x => x.Main.CompanyType, Model.ddlCompanyType, new { @class="form-select", required="required" })
                        </div>
                        <div class="col-md-4">
                            <label for="Main_Name" class="form-label">姓名<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.Main.Name, new { @class="form-control", placeholder="請輸入姓名", required="required"})
                        </div>
                        <div class="col-md-4">
                            <label for="Main_JobTitle" class="form-label">職稱<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.Main.JobTitle, new { @class="form-control", placeholder="請輸入職稱", required="required"})
                        </div>
                        <div class="col-md-4">
                            <label for="Main_Phone" class="form-label">連絡電話<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.Main.Phone, new { @class="form-control", placeholder="請輸入連絡電話", required="required"})
                        </div>
                        <div class="col-md-4">
                            <label for="Main_CellPhone" class="form-label">手機<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.Main.CellPhone, new { @class="form-control", placeholder="請輸入手機", required="required", type="number", data_parsley_type="integer", minlength="10", maxlength="10", data_parsley_minlength="10", data_parsley_maxlength="10" })

                        </div>
                        <div class="col-md-4">
                            <label for="Main_Email" class="form-label">電子郵件<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.Main.Email, new { @class="form-control", placeholder="請輸入電子郵件", type="email", required="required", data_parsley_type="email"})
                        </div>
                        <div class="col-md-4">
                            <label for="Main_CompanyEmpAmount" class="form-label">公司員工人數<span class="fc-red ms-1">*</span></label>
                            @Html.DropDownListFor(x => x.Main.CompanyEmpAmount, Model.ddlCompanyEmpAmount, new { @class="form-select", required="required" })
                        </div>
                        <div class="col-12">
                            <div class="mb-2" id="regis-form">
                                <div class="mb-2">活動日期<span class="fc-red ms-1">*</span></div>

                                @foreach(var day in Model.Sections) 
                                {
                                    <div class="form-check form-check-inline CusCheckbox-form">
                                        <label class="form-check-label CusCheckbox-form-label" data-bs-toggle="modal" data-bs-target="#section@(day.Id)">
                                            <i class="fa-regular fa-calendar-days me-2" aria-hidden="true"></i>
                                            @day.Day.ToString("yyyy / MM / dd")
                                            @day.StartTime.ToString(@"hh\:mm")
                                            -
                                            @day.EndTime.ToString(@"hh\:mm")
                                        </label>
                                    </div>
                                }
                            
                            </div>
                        </div>

                        <!-- 活動參與模式/飲食選擇 - 顯示方式 -->
                        <div id="panelSection" class="col-12 activityDetail bg-yellow p-md-3 p-0" style="display:none;">
                            @*透過JS插入資料*@
                        </div>

                        <div class="col-12">
                            <div class="mb-2" id="regis-form">

                                <div class="mb-2">訊息來源<span class="fc-red ms-1">*</span></div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbsInfoFrom" type="checkbox" id="inlineCheckbox-AA" value="桃分署/就業中心" name="ckbsInfoFrom">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-AA">桃分署/就業中心</label>
                                </div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbsInfoFrom" type="checkbox" id="inlineCheckbox-BB" value="中小企總官網/EDM" name="ckbsInfoFrom">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-BB">中小企總官網/EDM</label>
                                </div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbsInfoFrom" type="checkbox" id="inlineCheckbox-CC" value="工業區" name="ckbsInfoFrom">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-CC">工業區</label>
                                </div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbsInfoFrom" type="checkbox" id="inlineCheckbox-DD" value="公(工)協會" name="ckbsInfoFrom">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-DD">公(工)協會</label>
                                </div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbsInfoFrom" type="checkbox" id="inlineCheckbox-EE" value="朋友/同事/社團介紹" name="ckbsInfoFrom">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-EE">朋友/同事/社團介紹</label>
                                </div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbsInfoFrom" type="checkbox" id="inlineCheckbox-FF" value="報章雜誌" name="ckbsInfoFrom">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-FF">報章雜誌</label>
                                </div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbsInfoFrom" type="checkbox" id="inlineCheckbox-GG" value="網路廣告" name="ckbsInfoFrom">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-GG">網路廣告</label>
                                </div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbsInfoFrom" type="checkbox" id="inlineCheckbox-HH" value="其他" name="ckbsInfoFrom">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-HH">其他</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3 d-flex">
                                <div>
                                    <label for="VerifyCode" class="form-label">驗證碼<span class="fc-red ms-1">*</span></label>
                                    @Html.TextBoxFor(x => x.VerifyCode, new { @class="form-control", placeholder="請輸入驗證碼", required="required" })
                                </div>
                                <div>
                                    <audio id="player1" controls src="@Url.Action("TTS", "Home", new { id = "Activity" })" style="display:none;"></audio>
                                    <img id="LoginCode" src="@Url.Action("GetValidateCode", "Home", new { id = "Activity"} )" class="w-40 ml-3 mt-4 btnRefreshValid" alt="圖片驗證碼" style="cursor:pointer;" />
                                    
                                    <a href="#" class="PlayValidCode" title="播放圖片驗證碼">
                                        <img src="~/areas/frontend/img/speaker.png" alt="播放圖片驗證碼" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <div class="form-check form-switch form-CusSwitch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" required>
                                <label class="form-check-label" for="flexSwitchCheckDefault">我已詳讀<a class="fc-orange" type="button" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal">個資宣告項目事項</a><span class="fc-red ms-1">*</span></label>
                            </div>
                        </div>
                        <div class="d-flex gap-2 mt-5">
                            <a class="btn btn-outline-primary w-50" href="@Url.Action("Detail",new { id = EncryptService.AES.RandomizedEncrypt(Model.Header.Id) })"><i class="fa-solid fa-chevron-left me-2" aria-hidden="true"></i>返回詳細頁</a>
                            <button class="btn btn-primary w-50" type="submit" data-bs-toggle="modal" data-bs-target="#regisDoneModal"><i class="fa-solid fa-check-to-slot me-2" aria-hidden="true"></i>確定報名</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 報名Modal -->
@foreach(var day in Model.Sections) {
    <div class="modal fade" id="section@(day.Id)" tabindex="-1" aria-labelledby="regisModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0" id="regisModalLabel">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="~/areas/frontend/img/regis-page.png"  class="img-fluid mt-n1" alt="" />
                    <div class="fs-5 fc-orange mb-2">
                        <i class="fa-regular fa-calendar-days me-2" aria-hidden="true"></i><span class="lbDateRange">@day.Day.ToString("yyyy / MM / dd") @day.StartTime.ToString(@"hh\:mm") - @day.EndTime.ToString(@"hh\:mm")</span>
                        <input class="hidDateRange" type="hidden" value="@day.Day.ToString("yyyy / MM / dd") @day.StartTime.ToString(@"hh\:mm") - @day.EndTime.ToString(@"hh\:mm")">
                    </div>
                    <small>請選擇參與模式及飲食</small>
                    <div class="text-start">
                        <div class="mb-3" id="mode-form">
                            <div class="mb-2 fw-bold"><i class="fa-solid fa-book-open me-2 fc-gray" aria-hidden="true"></i>活動參與模式<span class="fc-red ms-1">*</span></div>

                            @{
                                Boolean IsOnline = false;
                                Boolean IsOffline = false; 
                                switch(day.SectionType)
                                {
                                    case "線上":
                                        IsOnline = true;
                                        break;
                                    case "實體":
                                        IsOffline = true;
                                        break;
                                    case "實體+線上":
                                        IsOnline = true;
                                        IsOffline = true;
                                        break;
                                }
                            }

                            @if (IsOnline)
                            {
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbOnline" type="radio" id="inlineCheckbox_online_@(day.Id)" value="線上" name="mode@(day.Id)">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox_online_@(day.Id)">線上</label>
                                </div>
                            }

                            @if (IsOffline)
                            {
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input ckbOffline" type="radio" id="inlineCheckbox_offline_@(day.Id)" value="實體" name="mode@(day.Id)">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox_offline_@(day.Id)">實體</label>
                                </div>
                            }
                        </div>
                        @if (Model.Header.DateType == "全日" && IsOffline)
                        {
                            <div class="mb-3" id="food-form">
                                <div class="mb-2 fw-bold"><i class="fa-solid fa-utensils me-2 fc-gray" aria-hidden="true"></i>飲食選擇<span class="fc-red ms-1">*</span></div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox-meat@(day.Id)" value="葷食" name="food@(day.Id)">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-meat@(day.Id)">葷食</label>
                                </div>
                                <div class="form-check form-check-inline CusCheckbox-form">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox-vegetarian@(day.Id)" value="素食" name="food@(day.Id)">
                                    <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-vegetarian@(day.Id)">素食</label>
                                </div>
                            </div>
                        }
                    </div>
                    <button type="button" class="btn btn-success mb-2 w-100 btnAddSection">確定</button>
                    <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">取消</button>
                    <input type="hidden" value="@day.Id" class="hidSectionId">
                </div>
            </div>
        </div>
    </div>
}

@Html.Hidden("hidDayType", Model.Header.DateType)


<!-- 個資宣告項目Modal -->
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel3">個資保護聲明</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>本分署為保護您的個人資料，依據個人資料保護法規定，於下列事由與目的範圍內，說明本分署直接或間接蒐集、處理及利用您的個人資料，當您完成報名時，表示您同意以下內容：</p>
                <p>1.	蒐集之目的：基於個人資料保護法及相關法令之規定，取得您的個人資料，目的在於提供良好服務及執行職務或業務之必要範圍內蒐集、處理及利用您的個人資料。您同意本分署以您所提供的個人資料確認您的身份、與您進行連絡、提供您本分署之相關服務及資訊，包括後續通知等用途。</p>
                <p>2.	個人資料之類別：依據報名需求提供您的個人資料，包含服務單位、職稱、姓名、出生日期、電話、E-MAIL等。</p>
                <p>3.	您同意本分署於執行期間利用您個人資料的期間、地區、對象及方式：期間：一年；地區：中華民國領域；對象：本分署辦理及提供之各項相關服務與業務之使用者；方式：以電話、電子郵件或其他合於當時科技之適當方式作個人資料之利用。</p>
                <p>4.	您的個人資料蒐集之目的消失或期限屆滿時，您同意本分署得繼續保存、處理或利用您的個人資料。除本分署於專案執行期間因執行職務或業務所必須或為遵循其他法令之規定者外，您可於期間隨時向本分署請求刪除、停止處理或利用您的個人資料。</p>
                <p>5.	如您未提供正確之個人資料，本分署將無法為您提供特定目的之相關業務。</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">確認</button>
            </div>
        </div>
    </div>
</div>

<!-- 報名資料重複確認 -->
<div class="modal fade" id="modelRegisterDoubleCheck" aria-hidden="true" aria-labelledby="modelRegisterDoubleCheck" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">請確認報名資料是否正確</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
                <div class="row"><div class="col-4">企業名稱</div><div class="col-8" id="lbCompanyName"></div></div>
                <div class="row"><div class="col-4">企業所在地</div><div class="col-8" id="lbCompanyLocation"></div></div>
                <div class="row"><div class="col-4">產業別</div><div class="col-8" id="lbCompanyType"></div></div>
                <div class="row"><div class="col-4">姓名</div><div class="col-8" id="lbName"></div></div>
                <div class="row"><div class="col-4">職稱</div><div class="col-8" id="lbJobTitle"></div></div>
                <div class="row"><div class="col-4">連絡電話</div><div class="col-8" id="lbPhone"></div></div>
                <div class="row"><div class="col-4">手機</div><div class="col-8" id="lbCellPhone"></div></div>
                <div class="row"><div class="col-4">電子郵件</div><div class="col-8" id="lbEmail"></div></div>
                <div class="row"><div class="col-4">公司員工人數</div><div class="col-8" id="lbCompanyEmpAmount"></div></div>
                <div class="row"><div class="col-4">報名場次</div><div class="col-8" id="lbSections"></div></div>
                <div class="row"><div class="col-4">訊息來源</div><div class="col-8" id="lbInfoFrom"></div></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="btnRealSubmit">確認報名</button>
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


@section Css {
    <link href="~/lib/Parsley/v2.9.2/dist/parsley.css" rel="stylesheet" />
}

@section Scripts {

     <!-- Parsley -->
    <script src="~/lib/Parsley/v2.9.2/dist/parsley.min.js" asp-append-version="true"></script>
    <script src="~/lib/Parsley/v2.9.2/dist/i18n/zh_tw.js" asp-append-version="true"></script>
    <script src="~/lib/Parsley/parsley-custom.js" asp-append-version="true"></script>

    <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script type="text/x-jquery-tmpl" id="section-tmpl">
        <div class="detailItem d-flex justify-content-between align-items-center">
            <div>
                <div class="date fw-bold" data-value="${DateRange}">
                    <i class="fa-regular fa-calendar-days me-2 fc-orange" aria-hidden="true"></i>
                    ${DateRange}
                </div>
                <div class="choiceBox mt-2">
                    <div class="choice me-2">
                        <div class="btn btn-dark">
                            <span><i class="fa-solid fa-book-open me-2 fc-gray" aria-hidden="true"></i>活動參與模式</span>
                            <span class="ms-2 fc-yellow text-decoration-underline">${Type}</span>
                        </div>
                    </div>
                    <div class="choice me-2 FoodLabel">
                        <div class="btn btn-dark">
                            <span><i class="fa-solid fa-utensils me-2 fc-gray" aria-hidden="true"></i>飲食選擇</span>
                            <span class="ms-2 fc-yellow text-decoration-underline">${Food}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="del-btn">
                <a href="#" class="btnDeleteSelectedSection"><i class="fa-solid fa-trash-can fs-5" aria-hidden="true"></i></a>
            </div>
            <input type="hidden" name="RegisterSection[].RegisterSectionId" value="${SectionID}" />
            <input type="hidden" name="RegisterSection[].IsVegin" value="${FoodBoolean}" />
            <input type="hidden" name="RegisterSection[].RegisterSectionType" value="${Type}" />
        </div>
    </script>
    <script>

        var recheck_modal;
        var recheck_modal_instance;
        var isRealSubmit = false;
        
        $(document).ready(function(){

            recheck_modal = document.getElementById('modelRegisterDoubleCheck');
            recheck_modal_instance = new bootstrap.Modal(recheck_modal);

            recheck_modal.addEventListener('hidden.bs.modal', function (event) {
                $('#frm').find('button[type=submit]').prop('disabled', false);
            });

            $('.btnRefreshValid').click(function () {
                $(this)[0].src = '@Url.Action("GetValidateCode", "Home", new { id = "Activity", refresh="Y"})&' + new Date().getTime();
                $(this).siblings('audio')[0].src = '@Url.Action("TTS", "Home", new { id = "Activity" })';
            });

            $('#frm').submit(function (e) {

                var btnSubmit = $(this).find('button[type=submit]');
                    btnSubmit.prop('disabled', true);

                var isVerify = false;
                var validnum = $('#VerifyCode').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ajaxValidVerify", "Home")',
                    async: false,
                    data: { UserInput: validnum, type: 'Activity' },
                    success: function (response) {
                        isVerify = response.isSuccess;
                    }
                });
                if (isVerify == false) {
                    Swal.fire('驗證碼錯誤');
                    btnSubmit.prop('disabled', false);
                    return false;
                }

                if (GetAllRegisterSection().length <=0){
                    Swal.fire('請至少選擇一個活動場次');
                    btnSubmit.prop('disabled', false);
                    return false;
                }

                //檢查電話是否註冊過
                var isRegisterd = true;
                var cellphone = document.getElementById("Main_CellPhone").value;
                var section_ids = GetAllRegisterSection();
                for(var i = 0; i < section_ids.length; i++) {
                    var msg = '';
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ajaxIsRegisted", "Activity")',
                        async: false,
                        data: { cellphone: cellphone, section_id: section_ids[i] },
                        success: function (response) {
                            isRegisterd = response.isRegisterd;
                            msg = response.message;
                        }
                    });

                    if (isRegisterd == true) {
                        Swal.fire(msg);
                        btnSubmit.prop('disabled', false);
                        return false;
                    }
                }

                var checked = $("input[name=ckbsInfoFrom]:checked").length;
                if (!checked) {
                    alert("請選擇至少一個訊息來源");
                    btnSubmit.prop('disabled', false);
                    return false;
                }

                //若都沒問題，重新還原section_id
                $('input[name*=RegisterSectionId]').each(function(index, ele){
                    ele.value = decodeURI(ele.value);
                });

                var Main_CompanyName = document.getElementById("Main_CompanyName").value;
                var Main_CompanyLocation = document.getElementById("Main_CompanyLocation").value;
                var Main_CompanyType = document.getElementById("Main_CompanyType").value;
                var Main_Name = document.getElementById("Main_Name").value;
                var Main_JobTitle = document.getElementById("Main_JobTitle").value;
                var Main_Phone = document.getElementById("Main_Phone").value;
                var Main_CellPhone = document.getElementById("Main_CellPhone").value;
                var Main_Email = document.getElementById("Main_Email").value;
                var Main_CompanyEmpAmount = document.getElementById("Main_CompanyEmpAmount").value;
                var ckbsInfoFrom = []; 
                document.querySelectorAll('.ckbsInfoFrom:checked').forEach(function (e) {  ckbsInfoFrom.push(e.value) })

                document.getElementById('lbCompanyName').textContent = Main_CompanyName;
                document.getElementById('lbCompanyLocation').textContent = Main_CompanyLocation;
                document.getElementById('lbCompanyType').textContent = Main_CompanyType;
                document.getElementById('lbName').textContent = Main_Name;
                document.getElementById('lbJobTitle').textContent = Main_JobTitle;
                document.getElementById('lbPhone').textContent = Main_Phone;
                document.getElementById('lbCellPhone').textContent = Main_CellPhone;
                document.getElementById('lbEmail').textContent = Main_Email;
                document.getElementById('lbCompanyEmpAmount').textContent = Main_CompanyEmpAmount;
                document.getElementById('lbInfoFrom').textContent = ckbsInfoFrom.join(',');
                document.getElementById('lbSections').innerHTML = GetAllRegisterSection_Text().join('<br />');


                console.log(Main_CompanyName);
                console.log(Main_CompanyLocation);
                console.log(Main_CompanyType);
                console.log(Main_Name);
                console.log(Main_JobTitle);
                console.log(Main_Phone);
                console.log(Main_CellPhone);
                console.log(Main_Email);
                console.log(Main_CompanyEmpAmount);
                console.log(ckbsInfoFrom);

                recheck_modal_instance.show();
                
                return isRealSubmit ? true : false;   
            });

            $('#btnRealSubmit').click(function(){  
                isRealSubmit = true;
                $(this).prop('disabled', true);
                $('#frm').submit(); 
            });

            $('.PlayValidCode').click(function () {
                var audio = document.getElementById("player1");
                    audio.play();
                return false;
            });

            var panel = $('#panelSection');

            $('.btnAddSection').click(function(){
                var container = $(this).parents('div.modal-body'); 

                var daytype = $('#hidDayType').val();
                var mode = container.find('input[name*=mode]:checked');
                var food = container.find('input[name*=food]:checked');
                var section_id = container.find('input.hidSectionId').val(); 
                var date_range = container.find('span.lbDateRange')[0].textContent; date_range = FilterXss(date_range);
                var modal_ele = $(this).parents('div.modal');
                var modal = bootstrap.Modal.getInstance(modal_ele[0]);

                //先過濾危險符號
                var _mode; 
                switch (encodeURI(mode.val())) {
                    case '%E5%AF%A6%E9%AB%94': _mode = '實體'; break;
                    case '%E7%B7%9A%E4%B8%8A': _mode = '線上'; break;
                    default:
                        Swal.fire('發生錯誤');
                        return;
                }

                var _food;  
                if (daytype == '全日' && _mode == '實體')
                {
                    switch (encodeURI(food.val())) {
                        case '%E7%B4%A0%E9%A3%9F': _food = '素食'; break;
                        case '%E8%91%B7%E9%A3%9F': _food = '葷食'; break;
                        default:
                            Swal.fire('發生錯誤');
                            return;
                    }
                }

                var RegisteredSections = GetAllRegisterSection();
                if (RegisteredSections.includes(encodeURI(section_id))) {
                    Swal.fire('您已加入此活動日期的報名時段');
                    return;
                }

                if(mode.length == 0) {
                    Swal.fire('請選擇參與模式');
                    return;
                }
                if (food.length == 0 && daytype == '全日' && _mode == '實體') {
                    Swal.fire('請選擇飲食為葷食或素食');
                    return;
                }

                panel.show();


                var NewReg = $("#section-tmpl").tmpl({
                    DateRange: date_range,
                    Type: _mode,
                    Food: daytype == '全日' ? _food : null,
                    SectionID: encodeURI(section_id),
                    FoodBoolean: _food == '素食' ? 'true' : 'false'
                });

                if (daytype == '半日' || _mode == '線上') {
                    NewReg.find('.FoodLabel').remove();
                }

                panel[0].insertAdjacentHTML('beforeEnd', NewReg[0].outerHTML);

                panel.find('.btnDeleteSelectedSection').click(function(){
                    if(confirm('確認刪除?')) 
                    {
                        $(this).parents('.detailItem').remove();

                        if ($('#panelSection .detailItem').length == 0)
                            $('#panelSection').hide();
                    }
                    return false;
                });

                ReSortSection();

                modal.hide();
            });

            $('.ckbOnline').click(function(){
                var food = $(this).parents('div.text-start').find('#food-form');
                    food.hide();
            });

            $('.ckbOffline').click(function(){
                var food = $(this).parents('div.text-start').find('#food-form');
                    food.show();
            });
                

        });

        function FilterXss(s){
            if(typeof s == "undefined" || s == '')
                return s;

            s = s.replace("<", "&lt;");
            s = s.replace(">", "&gt;");
            return s;
        }
       
        function ReSortSection(){
             $('#panelSection').find('.detailItem').each(function(index, ele){

                 $(ele).find('input[type=hidden]').each(function(i, hidden){

                     var o = $(hidden).prop('name'); 
                         o = o.replace(/\[\d*\]/i,'['+index+']');

                    $(hidden).prop('name', o);
                 });
             });
        }

        function GetAllRegisterSection() {
            var ids = [];
            $('#panelSection').find('.detailItem').each(function (index, ele) {
                $(ele).find('input[type=hidden][name*=RegisterSectionId]').each(function () {
                    ids.push($(this).val());
                });
            });
            return ids;
        }

        function GetAllRegisterSection_Text() {
            var results = [];
            $('#panelSection').find('.detailItem').each(function (index, ele) {
                var line = '';

                var date_text = $(ele).find('div.date')[0].textContent.trim();

                line += date_text;

                $(ele).find('div.btn').each(function (i, ele) {
                    var title = $(ele).find('span')[0]; 
                    var value = $(ele).find('span')[1]; 

                    line += "," + title.textContent + ':' + value.textContent;
                });

                results.push(line);
            });
            return results;
        }
    </script>
}



