@using BASE.Extensions
@model BASE.Areas.Backend.Models.VM_Advertise
@section CustomScripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
        });

        function Delete(id) {
            Swal.fire({
                title: '提示訊息',
                text: '你是否要刪除廣告？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '刪除',
                cancelButtonText: '取消',
            }).then((r) => {
                if (r.isConfirmed) {

                    //  $.blockUI();

                    //確定刪除
                    $.ajax({
                        type: "Post",
                        url: "@(Url.Action("AdvertiseDelete", "Advertise"))",
                        dataType: "json",
                        beforeSend: function (request) {
                            request.setRequestHeader("X-XSRF-TOKEN", $('input[name="__X-XSRFVerificationToken"]').val());
                        },
                        data: { id: id },
                        success: function (result) {
                            //   $.unblockUI();
                            inform({
                                plugin: result.alert_plugin,
                                type: result.alert_type,
                                title: result.message,
                                content: result.messageDetail,
                                redirect_url: ""
                            });
                        }
                    });
                } 
            });
        }

        function PublishChange(id) {
            Swal.fire({
                title: '提示訊息',
                text: '是否變更上下架狀態？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '是',
                cancelButtonText: '否',
            }).then((r) => {
                if (r.isConfirmed) {

                    //  $.blockUI();

                    //確定變更狀態
                    $.ajax({
                        type: "Post",
                        url: "@(Url.Action("AdvertisePublishChange", "Advertise"))",
                        dataType: "json",
                        beforeSend: function (request) {
                            request.setRequestHeader("X-XSRF-TOKEN", $('input[name="__X-XSRFVerificationToken"]').val());
                        },
                        data: { id: id },
                        success: function (result) {
                            //   $.unblockUI();
                            inform({
                                plugin: result.alert_plugin,
                                type: result.alert_type,
                                title: result.message,
                                content: result.messageDetail,
                                redirect_url: ""
                            });
                        }
                    });
                } else {
                    //任何方式的取消
                    Swal.fire('變更狀態', '取消成功', 'success');
                }
            });
        }
    </script>
}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                @using (Html.BeginForm(FormMethod.Get, new { id = "frm", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Search.PagerInfo.m_iPageIndex, new { @class="hiddenCurrentPage" })
                    @Html.HiddenFor(x => x.Search.PagerInfo.m_iPageCount, new { @class="hiddenPageCount" })
                    @Html.HiddenFor(x => x.Search.PagerInfo.m_Search, new { @class="pager-Info-Search" })

                    <div class="row g-3 align-items-end mb-3">
                        <div class="col-12 col-md-auto ms-auto">
                            <a class="btn btn-primary" href="@(Url.Action("AdvertiseAdd", "Advertise"))">新增</a>
                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>序號</th>
                                <th>圖片標題</th>
                                <th>狀態</th>
                                <th>管理</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.AdvertiseExtendList != null && Model.AdvertiseExtendList.Count > 0)
                            {
                                foreach (var item in Model.AdvertiseExtendList)
                                {
                                    <tr>
                                        <td>@(Model.AdvertiseExtendList.IndexOf(item) + 1)</td>
                                        <td style="max-width:30vw;">@Html.Raw(item.Advertise.Title)</td>
                                        @{
                                            string Status = string.Empty;
                                            string ButtonInfo = string.Empty;
                                            if (item.Advertise.IsPublish)
                                            {
                                                Status = "上架中";
                                                ButtonInfo = "下架";
                                            }
                                            else
                                            {
                                                Status = "已下架";
                                                ButtonInfo = "上架";
                                            }
                                        }
                                        <td style="max-width:55vw;">@Status</td>
                                        <td>
                                            <a class="btn btn-primary" href="@(Url.Action("AdvertiseEdit", "Advertise", new { id =item.Advertise.Id }))">編輯</a>
                                            <a class="btn btn-info" href="@(Url.Action("AdvertiseMoveUp", "Advertise", new { id =item.Advertise.Sort }))">上移</a>
                                            <a class="btn btn-warning" href="@(Url.Action("AdvertiseMoveDown", "Advertise", new { id =item.Advertise.Sort }))">下移</a>
                                            @if (ButtonInfo == "上架")
                                            {
                                                <button type="button" class="btn btn-success" onclick="PublishChange('@(item.Advertise.Id)')">上架</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-success" onclick="PublishChange('@(item.Advertise.Id)')">下架</button>
                                            }
                                            <button type="button" class="btn btn-danger" onclick="Delete('@(item.Advertise.Id)')">刪除</button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="4">目前暫無資料</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model != null && Model.AdvertiseExtendList != null && Model.AdvertiseExtendList.Count > 0)
                {
                    @await Html.PartialAsync("_Pagination", Model.Search.PagerInfo)
                }
            </div>
        </div>
    </div>
</div>