@model BASE.Areas.Backend.Models.VM_Quiz

@section CustomScripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/0.9.1/jquery.tablednd.js" integrity="sha256-d3rtug+Hg1GZPB7Y/yTcRixO/wlI78+2m08tosoRn7A=" crossorigin="anonymous"></script>
    <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="~/areas/backend/js/quiz_editor.js"></script>
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script type="text/javascript">
        let ck5_editor;
        $(document).ready(function () {
            ClassicEditor
                .create(document.querySelector('#ck5'), {
                    simpleUpload: {
                        // The URL that the images are uploaded to.
                        uploadUrl: '/Backend/File/CK5_FileUpload',

                        // Enable the XMLHttpRequest.withCredentials property.
                        withCredentials: true,

                        // Headers sent along with the XMLHttpRequest to the upload server.
                        headers: {
                            'X-XSRF-TOKEN': $('input[name="__X-XSRFVerificationToken"]').val(),
                            "X-Requested-With": "XMLHttpRequest"
                        }
                    }
                })
                .then(editor => {
                    /* console.log(editor);*/
                    ck5_editor = editor;
                })
                .catch(error => {
                    /* console.error(error);*/
                });

            $('#frm').on('submit', function () {
                let ck5_content = ck5_editor.getData();

                if (ck5_content == '') {
                    toastr['error']('請填入描述!');
                    return false;
                }

                if ($('#tableOptions').find('tbody tr').length == 0)
                {
                    Swal.fire('請輸入至少一個題項!');
                    return false;
                }

                SortSection(); //重新排序編號
                $.blockUI();
                return true;
            });

            $('#ddlSampleQuiz').change(function(){
                Swal.fire({
                    title: '若選擇從現有內容載入，目前您編輯的內容將無法保存。確認是否繼續?',
                    showCancelButton: true,
                    confirmButtonText: '繼續',
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = '@Url.Action("Add", "Quiz", new { id = ""})/' + $('#ddlSampleQuiz').val();
                    } else {
                        $('#ddlSampleQuiz').val('');
                    }
                });
            });
        });
    </script>
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm(FormMethod.Post, new { id = "frm", @autocomplete = "off", @enctype = "multipart/form-data", @data_parsley_validate = "" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">

                <div class="col-12 form-group mb-3">
                    @Html.Label("載入現有問卷", "載入現有問卷", new { @class = "form-label" })
                    @Html.DropDownList("ddlSampleQuiz",Model.ddlExistQuiz, new { @class="form-control" })
                </div>

                <div class="col-12 form-group mb-3">
                    @Html.LabelFor(x => x.ExtendItem.Header.Name, "問卷名稱", new { @class = "form-label" })
                    <span class="red">*</span>
                    @Html.TextBoxFor(x => x.ExtendItem.Header.Name, new { @class="form-control", placeholder = "請輸入問題", data_parsley_required = "", data_parsley_length = "[0, 100]" })
                </div>

                <div class="col-12 form-group mb-3">
                    @Html.LabelFor(x => x.ExtendItem.Header.Description, "問卷描述", new { @class = "form-label" })
                    <span class="red">*</span>
                    @Html.TextAreaFor(x => x.ExtendItem.Header.Description, new { id="ck5", @class = "form-control" })
                </div>

         

                <div class="col-12 mt-4">
                    <h5>管理題項</h5>

                    <div class="mb-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdOptionTitle">
                            <i class="material-icons-two-tone">title</i>新增標題
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdOptionText">
                            <i class="material-icons-two-tone">subject</i>新增簡答
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdOptionRadio">
                            <i class="material-icons-two-tone">done</i>新增單選
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdOptionCheckbox">
                            <i class="material-icons-two-tone">done_all</i>新增複選
                        </button>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover" id="tableOptions">
                            <thead class="table-light">
                                <tr>
                                    <th>種類</th>
                                    <th>描述</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ExtendItem.Lines != null && Model.ExtendItem.Lines.Count > 0)
                                {
                                    foreach (var line in Model.ExtendItem.Lines)
                                    {
                                        <tr>
                                            <td>
                                                @{
                                                    switch (line.Type)
                                                    {
                                                        case 1:
                                                            @:標題
                                                            break;
                                                        case 2:
                                                            @:簡答
                                                            break;
                                                        case 3:
                                                            @:單選
                                                            break;
                                                        case 4:
                                                            @:複選
                                                            break;
                                                    }
                                                }
                                            </td>
                                            <td>@line.QuizDescription</td>
                                            <td>
                                                <input type="hidden" name="ExtendItem.Lines[].ID" class="hidId" value="@line.Id">
                                                <input type="hidden" name="ExtendItem.Lines[].Type" class="hidType" value="@line.Type">
                                                <input type="hidden" name="ExtendItem.Lines[].QuizDescription" class="hidQuizDescription" value="@line.QuizDescription">
                                                <input type="hidden" name="ExtendItem.Lines[].FillDirection" class="hidFillDirection" value="@line.FillDirection">
                                                <input type="hidden" name="ExtendItem.Lines[].Options" class="hidOptions" value="@line.Options">
                                                <input type="hidden" name="ExtendItem.Lines[].IsRequired" class="hidIsRequired" value="@line.IsRequired">
                                                <button type="button" class="btn btn-success btnCopy">複製</button>
                                                <button type="button" class="btn btn-primary btnEdit">編輯</button>
                                                <button type="button" class="btn btn-danger btnDelete">刪除</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="row mt-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">儲存</button>
                    <a class="btn btn-light" href="@(Url.Action("List", "Quiz"))">返回列表</a>
                </div>
            </div>
        }
    </div>
</div>

@await Html.PartialAsync("_EditorPartial")