@using BASE.Extensions
@model BASE.Areas.Backend.Models.VM_Member
@section CustomScripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Search_sTime').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });
            $('#Search_eTime').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });
        });

        // 清除查詢條件
        function clearSearch()
        {
            // 群組下拉改為請選擇
            document.getElementById("Search_sAccount").selectedIndex = 0;
            // 時間區間清空
            $('#Search_sTime').val('');
            $('#Search_eTime').val('');
        }
        
    </script>
}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                @using (Html.BeginForm(FormMethod.Get, new { id = "frm", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Search.PagerInfo.m_iPageIndex, new { @class="hiddenCurrentPage" })
                    @Html.HiddenFor(x => x.Search.PagerInfo.m_iPageCount, new { @class="hiddenPageCount" })
                    @Html.HiddenFor(x => x.Search.PagerInfo.m_Search, new { @class="pager-Info-Search" })

                    <div class="row g-3 align-items-end mb-3">
                        <div class="col-12 col-md-auto ">
                            <div class="input-group">
                                @Html.LabelFor(x => x.Search.sGroup, "時間區間", new { @class="input-group-text" })
                                @Html.TextBoxFor(x => x.Search.sTime, new {@class="form-control daterange_selector", placeholder = "請輸入時間起",type="text"})
                                @Html.TextBoxFor(x => x.Search.eTime, new {@class="form-control daterange_selector", placeholder = "請輸入時間起",type="text"})
                                @Html.LabelFor(x => x.Search.Keyword, "操作帳號", new { @class="input-group-text" })
                                @Html.DropDownListFor(x=>x.Search.sMember,Model.ddlMember,new{@class="form-control"})
                            </div>
                        </div>
                        <div class="col-12 col-md-auto">
                            <button type="button" class="btn btn-danger float-end" onclick="clearSearch()">清除</button>
                            <button type="submit" class="btn btn-primary float-end">查詢</button>
                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>日期</th>
                                <th>功能名稱</th>
                                <th>操作動作</th>
                                <th>操作帳號</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.OperateExtendList != null && Model.OperateExtendList.Count > 0)
                            {
                                foreach (var item in Model.OperateExtendList)
                                {
                                    <tr>
                                        <td style="max-width:30vw;">@item.operateLog.CreateDate.ToString("yyyy/MM/dd")</td>
                                        <td style="max-width:30vw;">@item.operateLog.Feature</td>
                                        <td style="max-width:30vw;">@item.operateLog.Action</td>
                                        <td style="max-width:30vw;">@item.User.Account</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="4">目前暫無資料</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model != null && Model.OperateExtendList != null && Model.OperateExtendList.Count > 0)
                {
                    @await Html.PartialAsync("_Pagination", Model.Search.PagerInfo)
                }
            </div>
        </div>
    </div>
</div>