@model BASE.Areas.Backend.Models.VM_RelationLink
@{
}
@section CustomScripts
    {
    <script type="text/javascript">

        $(document).ready(function () {
            @*檔案上傳物件*@
                $('.File').each(function () {
                    $(this).FileInputCus({
                        dropZoneEnabled: false
                    });
                });
        });
    </script>
    }
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm(FormMethod.Post, new { id = "frm", @autocomplete = "off", @enctype = "multipart/form-data", @data_parsley_validate = "" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-12 form-group mb-3">
                    @Html.LabelFor(x => x.RelationLinkExtendItem.RelationLink.IsPublish, "狀態", new { @class = "form-label" })
                    @Html.DropDownListFor(x=>x.Search.sPublish,Model.ddlPublish,new{@class="form-control",id="ddlPublish"})
                </div>

                <div class="col-12 form-group mb-3">
                    @Html.LabelFor(x => x.RelationLinkExtendItem.RelationLink.Title, "標題：", new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.RelationLinkExtendItem.RelationLink.Title, new { @class="form-control", placeholder = "" })
                </div>

                <div class="col-12 form-group mb-3">
                    <span class="red">*</span>
                    @Html.LabelFor(x => x.RelationLinkExtendItem.RelationLink.Link, "超連結：網址", new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.RelationLinkExtendItem.RelationLink.Link, new { @class="form-control", placeholder = "", data_parsley_required = "" })
                </div>

               <div class="col-12 form-group mb-3">
                    <span class="red">*</span>
                    @Html.LabelFor(x => x.RelationLinkExtendItem.RelationLink.FileId, "圖片：", new { @class = "form-label" })
                    <span class="red">建議尺寸300*100 px（建議高度不要大於100px）</span>
                    @Html.TextBoxFor(x => x.RelationLinkImageFile, new { @FileID = "FileId", @class="form-control File", @type = "file", accept = ".pnf,.jpg,.jpeg", data_parsley_file_type="png,jpg,jpeg", data_parsley_errors_container="#FileId-errors-container", data_parsley_required = "" })
                    @Html.HiddenFor(x => x.RelationLinkExtendItem.RelationLink.FileId, new { @id ="FileId" })
                    <div id="FileId-errors-container"></div>
                </div>
            
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">儲存</button>
                    <a class="btn btn-light" href="@(Url.Action("RelationLinkList", "RelationLink"))">取消</a>
                </div>
            </div>
        }
    </div>
</div>