@using BASE.Service
@model BASE.Areas.Frontend.Models.VM_ContactUs

@await Html.PartialAsync("_BannerPartial", new BASE.Areas.Frontend.Models.Extend.BannerPartial(){ Main = "聯絡我們", Detail = "" })

@section Scripts {

    @if (TempData["CostomTempEmail"] != null)
    {
        <script>
            $(document).ready(function () {
                var myModal = new bootstrap.Modal(document.getElementById('DoneModal'));
                myModal.show();
            });
        </script>
    }

    <script>
        $(document).ready(function () {
            $('.PlayValidCode').click(function () {
                var audio = document.getElementById("player1");
                audio.play();
                return false;
            });

            $('#frm').submit(function () {
                var isVerify = false;
                var validnum = $('#VerifyCode').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ajaxValidVerify", "Home")',
                    async: false,
                    data: { UserInput: validnum, type: 'ContactUs' },
                    success: function (response) {
                        isVerify = response.isSuccess;
                    }
                });
                if (isVerify == false) {
                    Swal.fire('驗證碼錯誤');
                    return false;
                }
            });

        });
    </script>
}

<!-- ================================================== -->
<!-- 聯絡我們 -->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="contactBox bg-white p-4">
                            <div class="item">
                                <div class="icon"><i class="fa-solid fa-map-location-dot" aria-hidden="true"></i></div>
                                <div class="info">
                                    <div class="title fw-bold">地址</div>
                                    <div class="detail">326020桃園市楊梅區秀才路851號</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><i class="fa-solid fa-phone" aria-hidden="true"></i></div>
                                <div class="info">
                                    <div class="title fw-bold">電話</div>
                                    <div class="detail">(03)4855368 分機1901、1905</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon"><i class="fa-solid fa-globe" aria-hidden="true"></i></div>
                                <div class="info">
                                    <div class="title fw-bold">服務時間</div>
                                    <div class="detail">週一至週五 8:00-12:00、13:00-17:00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="applicationBox bg-yellow p-3 mt-3">
                            <h3 class="fw-bold fs-5"><i class="fa-solid fa-face-smile me-2 fc-yellow" aria-hidden="true"></i> 親愛的企業，您好</h3>
                            <div>
                                歡迎您使用本網站各項服務，若您對網站功能及服務有任何疑問或建議，歡迎您使用本客服信箱，請填寫下列資訊，我們將會盡速回覆給您，謝謝。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="registrationBox bg-white p-4 mt-3">
                        <form action="" id="frm" class="row g-3 justify-content-center" method="post">
                            <div class="col-md-6 col-12">
                                <label for="inputA" class="form-label">姓名<span class="fc-red ms-1">*</span></label>
                                @Html.TextBoxFor(x => x.ExtendItem.Name, new { @class="form-control",  placeholder="您的回答", required="required" })
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="inputB" class="form-label">E-mail<span class="fc-red ms-1">*</span></label>
                                @Html.TextBoxFor(x => x.ExtendItem.Email, new { @class="form-control",  placeholder="您的回答", type="email",  required="required" })
                            </div>
                            <div class="col-12">
                                <label for="exampleFormControlTextarea1" class="form-label">內容<span class="fc-red ms-1">*</span></label>
                                @Html.TextAreaFor(x => x.ExtendItem.Response, 5, 100, new { @class="form-control", required="required" })
                            </div>
                            <div class="col-12">
                                <div class="mb-3 d-flex">
                                    <div>
                                        <label for="exampleInputRandom2" class="form-label">驗證碼<span class="fc-red ms-1">*</span></label>
                                        @Html.TextBoxFor(x => x.VerifyCode, new { @class="form-control", placeholder="請輸入驗證碼", required="required" })
                                    </div>
                                    <div>
                                        <audio id="player1" controls src="@Url.Action("TTS", "Home", new { id = "ContactUs" })" style="display:none;"></audio>
                                        <img id="LoginCode" src="@Url.Action("GetValidateCode", "Home", new { id = "ContactUs" } )" class="w-40 ml-3 mt-4" alt="圖片驗證碼" />
                                        <a href="#" class="PlayValidCode" title="播放圖片驗證碼">
                                            <img src="~/areas/frontend/img/speaker.png" alt="播放圖片驗證碼" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex gap-2 mt-5">
                                <button class="btn btn-outline-primary w-50" type="reset"><i class="fa-regular fa-circle-xmark me-2" aria-hidden="true"></i>清除重寫</button>
                                <button class="btn btn-primary w-50" type="submit"><i class="fa-solid fa-check-to-slot me-2" aria-hidden="true"></i>確定送出</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 報名完成Modal -->

<div class="modal fade" id="DoneModal" tabindex="-1" aria-labelledby="DoneModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0" id="DoneModalLabel">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">
                <img src="~/areas/frontend/img/subs-done.png" class="img-fluid mt-n1" alt="">
                <div class="fs-2 fw-bold mb-4">送 出 完 成</div>
                <img src="~/areas/frontend/img/regis-done.png" class="img-fluid" alt="">
                <p class="mt-4">已成功送出您的意見，<br>相關訊息會再寄到<span class="fc-blue">@TempData["CostomTempEmail"] </span>信箱。</p>
                <button type="button" class="btn btn-success mb-2 w-100" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>