@using BASE.Service
@model BASE.Areas.Frontend.Models.VM_Album

@await Html.PartialAsync("_BannerPartial", new BASE.Areas.Frontend.Models.Extend.BannerPartial(){ Main = "活動訊息", Detail = "活動花絮" })

<form method="post" id="frm" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Search.PagerInfo.m_iPageIndex, new { @class="hiddenCurrentPage" })
    @Html.HiddenFor(x => x.Search.PagerInfo.m_iPageCount, new { @class="hiddenPageCount" })
    @Html.HiddenFor(x => x.Search.PagerInfo.m_Search, new { @class="pager-Info-Search" })
</form>

@section Scripts {
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
}

@section Css {
    <link href="~/lib/lightbox/css/lightbox.css" rel="stylesheet" />
    <style>
        .modal {
            background: #00000096;
            margin: 0;
        }
    </style>
}


<!-- ================================================== -->
<!-- 活動訊息 -->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5">
    <div class="container">
        <div class="row">

            <!-- 左邊按鈕區塊 -->
            <div class="col-lg-3 col-12">
                <div class="activityBtn bg-white p-3">
                    <a accesskey="L" href="#" title="左方功能區塊" class="sr-only sr-only-focusable">:::</a>
                    <a class="btn w-100 collapsed" data-bs-toggle="collapse" href="#collapseActivity" role="button" aria-expanded="true" aria-controls="collapseActivity" id="msgbtn">
                        <i class="fa-solid fa-lightbulb me-2" aria-hidden="true"></i>
                        活動訊息
                        <i class="fa-solid fa-chevron-down ms-2" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="collapseActivity">
                        <ul class="nav nav-tabs flex-column" id="activityTab" role="tablist">
                            <li><hr class="dropdown-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("List", "Activity", new { id = "課程"})">課程</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("List", "Activity", new { id = "講座"})">講座</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("List", "Activity", new { id = "活動"})">活動</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("List", "Activity", new { id = "截止報名"})">截止報名</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="dropdown-divider">
                    <a href="@Url.Action("List","Album")" class="btn w-100 collapsed mt-2" id="mybut" style="color: #FFF; background-color: #ED6F30;">
                        <i class="fa-solid fa-images me-2" aria-hidden="true" aria-expanded="true"></i>
                        活動花絮
                    </a>
                    <hr class="dropdown-divider">
                </div>
            </div>

            <!-- 右邊內容區塊 -->
            <div class="col-lg-9 col-12" id="content">
                <div class="tab-content" id="activityTabContent">

                    <a accesskey="C" href="#" title="中央內容區塊" class="sr-only sr-only-focusable">:::</a>
                    <!-- 列表 -->
                    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3 listBox">

                        @if (Model.AlbumExtendList.Count <= 0)
                        {
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body">
                                        無資料
                                    </div>
                                </div>
                            </div>
                        } 
                        else 
                        {
                            foreach(var item in Model.AlbumExtendList) 
                            {
                                <div class="col">
                                    <div class="card h-100">

                                        @*<a href="@item.FileInfo.FilePath" data-lightbox="image-@item.Header.Id" data-title="活動圖片: @item.Header.Title">
                                            <img src="@item.FileInfo.FilePath" class="card-img-top" alt="活動圖片: @item.Header.Title">
                                        </a>*@

                                        <a href="#" data-bs-target="#image-@item.Header.Id" data-bs-toggle="modal" data-title="活動圖片: @item.Header.Title">
                                            <img src="@item.FileInfo.FilePath" class="card-img-top" alt="活動圖片: @item.Header.Title">
                                        </a>
                                            
                                        <div class="card-body">
                                            <div class="date mb-3">
                                                <i class="fa-regular fa-calendar-days me-2 fc-ored" aria-hidden="true"></i>
                                                @item.Header.DisplayDate.ToString("yyyy / MM / dd")
                                            </div>
                                            <h5 class="card-title fw-bold">@item.Header.Title</h5>
                                        </div>
                                    </div>
                                </div>

                                <!-- 訂閱Modal -->
                                <div class="modal fade" id="image-@item.Header.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                活動圖片: @item.Header.Title
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <img src="@item.FileInfo.FilePath" alt="活動圖片: @item.Header.Title" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <!-- 列表 END -->
                    <!-- pagination -->
                    <div class="mt-5">
                        @await Html.PartialAsync("_Pagination", Model.Search.PagerInfo)
                    </div>
                    <!-- pagination END -->


                </div>
            </div>


        </div>
    </div>
</div>
