@model BASE.Areas.Backend.Models.VM_Home
@{
    Layout = "~/Areas/Backend/Views/Shared/_Layout_SourceOnly.cshtml";
    ViewData["Title"] = "ResetPassword";
}

@section CustomScripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

<div class="app app-auth-sign-in align-content-stretch d-flex flex-wrap justify-content-end">
    <div class="app-auth-background">
    </div>
    <div class="app-auth-container">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="logo">
                <a href="">@_conf["Site:Name"]</a>
            </div>

            <div class="auth-credentials m-b-xxl">
                    @Html.LabelFor(x => x.aua8, "新密碼", new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.aua8, new { @type = "password", @class = "form-control", placeholder = "請輸入新密碼", data_parsley_required = "" })

                    @Html.LabelFor(x => x.aua8Check, "再次輸入新密碼", new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.aua8Check, new { @type = "password", @class = "form-control", placeholder = "請再次輸入新密碼", data_parsley_required = "" })
                    @Html.HiddenFor(x => x.acct)
            </div>

            <div class="auth-submit">
                <button type="submit" class="btn btn-primary">送出</button>
            </div>
        </form>

    </div>
</div>