@using BASE.Service
@model BASE.Areas.Frontend.Models.VM_ConsultRegister

@await Html.PartialAsync("_BannerPartial", new BASE.Areas.Frontend.Models.Extend.BannerPartial(){ Main = "諮詢輔導服務", Detail = "" })

@section Scripts
{
    <script>
        $(document).ready(function () {

            $('.btnRefreshValid').click(function () {
                $(this)[0].src = '@Url.Action("GetValidateCode", "Home", new { id = "Consult", refresh="Y"})&' + new Date().getTime();
                $(this).siblings('audio')[0].src = '@Url.Action("TTS", "Home", new { id = "Consult" })';
            });

            $('.PlayValidCode').click(function () {
                var audio = document.getElementById("player1");
                audio.play();
                return false;
            });

            $('#frm').submit(function () {
                checked = $("input.subjects:checked").length;
                if (!checked) {
                    alert("請選擇至少一個諮詢主題");
                    return false;
                }
            });
        });
    </script>
}

<!-- ================================================== -->
<!-- 諮詢輔導顧問 報名頁-->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-12">
                <div class="registrationBox bg-white p-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="applicationBox bg-yellow p-3">
                                <h3 class="fw-bold fc-green fs-4">勞動部桃竹苗分署-111年桃竹苗區域人力資源整合-諮詢輔導申請表</h3>
                                <div>
                                    本諮詢服務資源全程免費，將針對單位實際需求邀約顧問，提供1 對1 諮詢服務，故資源有限，將依照申請順序依次安排。
                                </div>
                                <div class="fc-orange mt-2">聯繫電話：03-4855368#1905</div>
                            </div>
                        </div>
                    </div>
                    <form id="frm" class="row g-3 justify-content-center mt-3" method="post">
                        @Html.AntiForgeryToken()
                        <div class="col-12">
                            <label for="inputB" class="form-label">企業所在地<span class="fc-red ms-1">*</span></label>
                            @Html.DropDownListFor(x => x.ExtendItem.Location, Model.ddlLocation, new { @class="form-select", required="required" })
                        </div>
                        <div class="col-12">
                            <label for="inputA" class="form-label">企業名稱全銜<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.Name, new { @class="form-control", placeholder="您的回答", required="required" })
                        </div>
                        <div class="col-12">
                            <label for="inputD" class="form-label">企業統編<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.BusinessId, new { @class="form-control", placeholder="您的回答", required="required" })
                        </div>
                        <div class="col-12">
                            <label for="inputE" class="form-label">企業登記地址<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.Address, new { @class="form-control", placeholder="您的回答", required="required" })
                        </div>
                        <div class="col-12">
                            <div class="mb-2" id="regis-form">

                                <div class="mb-2">諮詢主題(可複選)<span class="fc-red ms-1">*</span></div>

                                @foreach(var item in Model.ckbSubjects)
                                {
                                    <div class="form-check form-check-inline CusCheckbox-form">
                                        <input class="form-check-input subjects" type="checkbox" id="inlineCheckbox-@(item.Value)" value="@item.Value" name="CheckedSubjects">
                                        <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-@(item.Value)">@item.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="inputF" class="form-label">問題陳述<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.Description, new { @class="form-control",  placeholder="您的回答", aria_describedby="inputFHelp", required="required" })
                            <div id="inputFHelp" class="form-text">※請陳述目前面臨狀況及希望達成之目標，或其他補充事項</div>
                        </div>
                        <div class="col-12">
                            <label for="inputG" class="form-label">預計可諮詢時間<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.ConsultTime, new { @class="form-control",  placeholder="您的回答", aria_describedby="inputGHelp", required="required" })

                            <div id="inputGHelp" class="form-text">※諮詢時間預先安排2 小時，請先行提供至少提供三個以上時間/時段，以利媒合顧問時間。回覆例如：每週三上午10-12 時、或3/18 下午14-16 時可以等)</div>
                        </div>
                        <div class="col-12">
                            <label for="inputH" class="form-label">輔導地址<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.ConsultAddress, new { @class="form-control",  placeholder="您的回答", aria_describedby="inputHHelp", required="required" })
                            <div id="inputHHelp" class="form-text">※若貴公司不便提供進場輔導，亦可於勞動部勞動力發展署桃竹苗分署進行諮詢輔導(地址：桃園市楊梅區秀才路851號)</div>
                        </div>
                        <div class="col-12">
                            <label for="inputI" class="form-label">聯繫人姓名<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.ContactName, new { @class="form-control", placeholder="您的回答", required="required" })
                        </div>
                        <div class="col-12">
                            <label for="inputI" class="form-label">聯繫人職稱<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.ContactJobTitle, new { @class="form-control", placeholder="您的回答", required="required" })
                        </div>
                        <div class="col-12">
                            <label for="inputI" class="form-label">聯絡人電話<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.ContactPhone, new { type="text", @class="form-control", placeholder="您的回答", required="required" })
                        </div>
                        <div class="col-12">
                            <label for="inputI" class="form-label">聯絡人EMAIL<span class="fc-red ms-1">*</span></label>
                            @Html.TextBoxFor(x => x.ExtendItem.ContactEmail, new { type="email", @class="form-control", placeholder="您的回答", required="required" })
                        </div>
                        <div class="col-12">
                            <div class="mb-3 d-flex">
                                <div>
                                    <label for="exampleInputRandom2" class="form-label">驗證碼<span class="fc-red ms-1">*</span></label>
                                    @Html.TextBoxFor(x => x.VerifyCode, new { @class="form-control", placeholder="請輸入驗證碼", required="required"})
                                </div>
                                <div>
                                    <audio id="player1" controls src="@Url.Action("TTS", "Home", new { id = "Consult" })" style="display:none;"></audio>
                                    <img id="LoginCode" src="@Url.Action("GetValidateCode", "Home", new { id = "Consult" } )" class="w-40 ml-3 mt-4 btnRefreshValid" alt="圖片驗證碼" style="cursor:pointer;" />
                                    <a href="#" class="PlayValidCode" title="播放圖片驗證碼">
                                        <img src="~/areas/frontend/img/speaker.png" alt="播放圖片驗證碼" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <div class="form-check form-switch form-CusSwitch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" required>
                                <label class="form-check-label" for="flexSwitchCheckDefault">我已詳讀<a class="fc-orange" type="button" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal" data-bs-dismiss="modal">個資宣告項目事項</a><span class="fc-red ms-1">*</span></label>
                            </div>
                        </div>
                        <div class="d-flex gap-2 mt-5">
                            <button class="btn btn-outline-primary w-50" type="reset"><i class="fa-regular fa-circle-xmark me-2" aria-hidden="true"></i>清除重寫</button>
                            <button class="btn btn-primary w-50" type="submit"><i class="fa-solid fa-check-to-slot me-2" aria-hidden="true"></i>馬上報名</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 個資宣告項目Modal -->
<div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel3">個資保護聲明</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>本分署為保護您的個人資料，依據個人資料保護法規定，於下列事由與目的範圍內，說明本分署直接或間接蒐集、處理及利用您的個人資料，當您完成報名時，表示您同意以下內容：</p>
                <p>1.	蒐集之目的：基於個人資料保護法及相關法令之規定，取得您的個人資料，目的在於提供良好服務及執行職務或業務之必要範圍內蒐集、處理及利用您的個人資料。您同意本分署以您所提供的個人資料確認您的身份、與您進行連絡、提供您本分署之相關服務及資訊，包括後續通知等用途。</p>
                <p>2.	個人資料之類別：依據報名需求提供您的個人資料，包含服務單位、職稱、姓名、出生日期、電話、E-MAIL等。</p>
                <p>3.	您同意本分署於執行期間利用您個人資料的期間、地區、對象及方式：期間：一年；地區：中華民國領域；對象：本分署辦理及提供之各項相關服務與業務之使用者；方式：以電話、電子郵件或其他合於當時科技之適當方式作個人資料之利用。</p>
                <p>4.	您的個人資料蒐集之目的消失或期限屆滿時，您同意本分署得繼續保存、處理或利用您的個人資料。除本分署於專案執行期間因執行職務或業務所必須或為遵循其他法令之規定者外，您可於期間隨時向本分署請求刪除、停止處理或利用您的個人資料。</p>
                <p>5.	如您未提供正確之個人資料，本分署將無法為您提供特定目的之相關業務。</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">確認</button>
            </div>
        </div>
    </div>
</div>
