@using BASE.Service
@model BASE.Areas.Frontend.Models.VM_Index

@section Css {
    <style>

    </style>
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="~/areas/frontend/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/areas/frontend/css/owl.theme.default.min.css">

    <!-- Custom styles for this template -->
    <link href="~/areas/frontend/css/carousel.css" rel="stylesheet">
    <link href="~/areas/frontend/css/style.css" rel="stylesheet">
}


@section Scripts {
    <script src="~/areas/frontend/js/owl.carousel.js"></script>
    <script type="text/javascript">
        $('#link-owl').owlCarousel({
            loop: false,
            margin: 10,
            dotsEach: true,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        });
    </script>
}


<!-- ================================================== -->
<!-- Banner 輪播 -->
<!-- ================================================== -->
<div class="container-fluid position-relative">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @{ int ad_count = 0; }
            @foreach(var item in Model.Ads)
            {
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@ad_count" 
                        @(ad_count == 0 ? "class=active" : "" ) aria-current="@(ad_count == 0 ? "true" : "" )" aria-label="Slide @(ad_count)"></button>
                ad_count++;
            }
        </div>
        <div class="carousel-inner">

            @{ Boolean first = true; }
            @foreach(var item in Model.Ads)
            {
                <div class="carousel-item @(first ? "view active" : "") ">
                    <a href="@item.Header.Link" target="_blank" title="@item.Header.Title">
                        <img src="@item.FileInfo.FilePath" class="d-block w-100" alt="@item.Header.Title">
                    </a>
                    @*<div class="mask">
                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                            @if (!String.IsNullOrEmpty(item.Header.Title))
                            {
                                <h2>@item.Header.Title</h2>
                            }
                        </div>
                    </div>*@
                </div>
                first = false;
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- ================================================== -->
<!-- 圖片按鈕 -->
<!-- ================================================== -->
<div class="container imgbtnBox">
    <img src="~/areas/frontend/img/circle.png" class="pic-circle d-none d-lg-block">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-4">
            <a href="@Url.Action("List", "Activity")" class="item">
                <img src="~/areas/frontend/img/imgbtn/a.png" alt="" class="img-fluid">
                <h3 class="fw-bold mt-3">活動報名<span class="ms-2 fc-gray"><i class="fa-solid fa-circle-arrow-right"></i></span></h3>
                <small class="fc-gray">EVENT</small>
            </a>
        </div>

        <div class="col-12 col-md-4">
            <a href="@Url.Action("Index", "Consult")" class="item">
                <img src="~/areas/frontend/img/imgbtn/b.png" alt="" class="img-fluid">
                <h3 class="fw-bold mt-3">諮詢預約<span class="ms-2 fc-gray"><i class="fa-solid fa-circle-arrow-right"></i></span></h3>
                <small class="fc-gray">CONSULT</small>
            </a>
        </div>

        <div class="col-12 col-md-4">
            <a href="@Url.Action("List", "Resource")" class="item">
                <img src="~/areas/frontend/img/imgbtn/c.png" alt="" class="img-fluid">
                <h3 class="fw-bold mt-3">找資源<span class="ms-2 fc-gray"><i class="fa-solid fa-circle-arrow-right"></i></span></h3>
                <small class="fc-gray">RESOURCE</small>
            </a>
        </div>
    </div><!-- /.row -->
</div>

<!-- ================================================== -->
<!-- 最新消息 -->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 d-flex justify-content-between">
                <div class="section-title">
                    <h2 class="fw-bold"><img src="~/areas/frontend/img/icon/photos.svg" class="me-2" alt="">最新消息</h2>
                    <small class="ms-2 fc-gray fst-italic">HOT NEWS</small>
                </div>
                <div class="section-btn">
                    <a class="btn btn-primary px-4 py-2 rounded-3" href="@Url.Action("List", "News")">查看更多</a>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="articleBox">
                    <div class="card border-0 mb-3">
                        <div class="row g-0 align-items-center">
                            @{
                                var LastNews = Model.News.FirstOrDefault();
                            }
                            <div class="col-12 col-md-4 text-center">
                                @if (LastNews.FileInfo != null)
                                {
                                    <img src="@LastNews.FileInfo.FilePath" class="img-fluid rounded-start" alt="...">
                                } else
                                {
                                    <img src="~/areas/frontend/img/articleimg.png" class="img-fluid rounded-start" alt="..." />
                                }
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="card-body">
                                    <a href="@Url.Action("Detail", "News", new { id = EncryptService.AES.RandomizedEncrypt(LastNews.Header.Id) })" class="stretched-link">
                                        <h4 class="card-title fw-bold">@LastNews.Header.Title</h4>
                                    </a>
                                    <div class="card-tag"><span class="@(LastNews.Header.Category == "其他消息" ? "tag-other" : "tag-news")">@LastNews.Header.Category</span></div>
                                    <p class="card-text">@(LastNews.Header.Contents.Length > 60 ? LastNews.Header.Contents.Substring(0,60)+"..." : LastNews.Header.Contents)</p>
                                    <p class="card-text"><small class="text-muted">@LastNews.Header.DisplayDate.ToString("yyyy .MM .dd")</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="newsList">
                    <ul class="list-group">
                        @foreach(var item in Model.News)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-start flex-column flex-md-row">
                                    <div class="d-flex">
                                        <div class="date">@item.Header.DisplayDate.ToString("yyyy .MM .dd")</div>
                                        <div class="card-tag mb-0 mx-3">
                                            <span class="@(item.Header.Category == "其他消息" ? "tag-other" : "tag-news")">@item.Header.Category</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <a href="@Url.Action("Detail", "News", new { id = EncryptService.AES.RandomizedEncrypt(item.Header.Id) })" title="前往訊息內頁">@(item.Header.Title.Length > 30 ? item.Header.Title.Substring(0, 30) + "..." : item.Header.Title)</a>
                                    </div>
                                </div>
                                <span class="moreicon"><i class="fa-solid fa-chevron-right"></i></span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ================================================== -->
<!-- 熱門報名課程 -->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5 courseSection">
    <div class="container">

        <div class="row courseBox align-items-center">
            @*//實際*@
            @{
                //採用不規則排列，故逐一取出再逐一放入處理
                var activry1 = Model.Activities.Count >= 1 ? Model.Activities[0] : null;
                var activry2 = Model.Activities.Count >= 2 ? Model.Activities[1] : null;
                var activry3 = Model.Activities.Count >= 3 ? Model.Activities[2] : null;
                var activry4 = Model.Activities.Count >= 4 ? Model.Activities[3] : null;
                var activry5 = Model.Activities.Count >= 5 ? Model.Activities[4] : null;
                var activry6 = Model.Activities.Count >= 6 ? Model.Activities[5] : null;
                var activry7 = Model.Activities.Count >= 7 ? Model.Activities[6] : null;
            }

            @functions {
                private void RenderActivity(BASE.Areas.Frontend.Models.Extend.ActivityExtend m)
                {
                    <div class="card h-100 courseItem">
                        <img src="@m.FileInfo.FilePath" class="card-img-top" alt="課程預覽圖">
                        <div class="card-body">
                            <h5 class="card-title">@m.Header.Title</h5>
                            <p class="card-text tripleline-ellipsis">@m.Header.Description</p>
                        </div>
                        <div class="card-footer">
                            <div class="date">
                                <i class="fa-regular fa-calendar-days me-2 fc-ored" aria-hidden="true"></i>
                                @m.Sections.First().Day.ToString("yyyy / MM / dd")
                            </div>
                            <a href="@Url.Action("Detail", "Activity", new { id = EncryptService.AES.RandomizedEncrypt(m.Header.Id) })" class="more-btn stretched-link">
                                了解更多
                                <i class="fa-solid fa-arrow-right ms-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                }
            }

            @*//插圖*@
            <div class="col-12 col-md-4 align-self-lg-center align-self-md-center">
                <div class="card h-100 border-0 bg-transparent courseCard">
                    <div class="card-body p-4">
                        <img src="~/areas/frontend/img/icon/users.svg" alt="" class="d-block">
                        <h5 class="card-title d-inline-block fw-bold fs-2 fc-white my-2">熱門報名課程</h5>
                        <small class="d-inline-block ms-2 fc-gray fst-italic">COURSES</small>
                        <p class="card-text fc-white">上課時間和價格很有彈性，此外，網站經常不定時推出優惠活動、努力了解使用者想法並做出改善。而客服也總是能非常即時且盡責地回覆問題，整體來說是很替學生著想的網站。</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 align-self-lg-start align-self-md-center">
                @{ 
                    if(activry1 != null) RenderActivity(activry1); 
                }
            </div>
            <div class="col-12 col-md-4 align-self-lg-end align-self-md-center">
                @{
                    if (activry2 != null) RenderActivity(activry2);
                }
            </div>
        </div>

        <div class="row courseBox align-items-center">
            <div class="col-12 col-md-4 align-self-lg-start align-self-md-center mt-minus">
                @{
                    if (activry3 != null) RenderActivity(activry3);
                }
            </div>
            <div class="col-12 col-md-4 align-self-lg-start align-self-md-center">
                @{
                    if (activry4 != null) RenderActivity(activry4);
                }
            </div>
            <div class="col-12 col-md-4 align-self-lg-end align-self-md-center">
                @{
                    if (activry5 != null) RenderActivity(activry5);
                }
            </div>
        </div>

        <div class="row courseBox align-items-center">
            <div class="col-12 col-md-4 align-self-lg-start align-self-md-center mt-minus">
                @{
                    if (activry6 != null) RenderActivity(activry6);
                }
            </div>
            <div class="col-12 col-md-4 align-self-lg-start align-self-md-center">
                @{
                    if (activry7 != null) RenderActivity(activry7);
                }
            </div>

            @*//查看更多*@
            <div class="col-12 col-md-4 align-self-lg-end align-self-md-center">
                <div class="card moreBox">
                    <div class="wrap-mask">
                        <div class="card-body p-0 p-md-3 p-lg-5">
                            <h5 class="card-title fs-1 fw-bold">查看更多</h5>
                            <a href="@Url.Action("List", "Activity")" class="fc-white mt-5 stretched-link">
                                <i class="fa-regular fa-circle-right fs-1" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>

<!-- ================================================== -->
<!-- 相關連結 -->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5 mt-5 mt-md-0">
    <div class="container linkBox">

        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="fw-bold"><img src="~/areas/frontend/img/icon/link.svg" class="me-2" alt="">相關連結</h2>
                    <small class="ms-2 fc-gray fst-italic">LINKS</small>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="owl-carousel owl-theme" id="link-owl">
                    @foreach(var item in Model.RelationLinks)
                    {
                        <div class="item">
                            <a href="@item.Header.Link" title="@item.Header.Title" target="_blank">
                                <img src="@item.FileInfo.FilePath" class="img-fluid" alt="@item.Header.Title">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>