<!DOCTYPE html>

<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.88.1">
    <title>桃竹苗企業人力資源服務網 - @ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/areas/frontend/css/bootstrap.min.css" rel="stylesheet" />
    <!-- fontawesome -->
    <link href="~/areas/frontend/fontawesome/css/all.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/areas/frontend/css/style.css" rel="stylesheet" />

    <!-- sweetalert2 -->
    <script src="~/lib/sweetalert2/v11.x/dist/sweetalert2.all.min.js"></script>
    <script>
        Swal = Swal.mixin({
            confirmButtonText: '確認'
        })
    </script>

    @RenderSection("Css", required: false)

    <style>
        #gotocenter:focus {
            position: absolute;
            left: 0;
            top: 0;
            outline-color: transparent;
            -webkit-transition: top .1s ease-in;
            transition: top .1s ease-in;
            border: #ffbf47 solid 0.4rem;
            background: #ffbf47;
            color: #000;
            font-weight: 700;
            clip:auto;
            width:114px;
            height:42px;
            z-index:9999;
        }
        
    </style>
</head>
<body>
    <noscript>
        您的瀏覽器不支援JavaScript功能，若部份網頁功能無法正常使用時，請開啟瀏覽器JavaScript狀態<br>
        友善列印 :<br>
        請利用鍵盤按住Ctrl + P開啟列印功能<br>
        字級設定 :<br>
        IE6請利用鍵盤按住ALT鍵 + V → X → (G)最大(L)較大(M)中(S)較小(A)小，來選擇適合您的文字大小,
        <br>而IE7或Firefox瀏覽器則可利用鍵盤 Ctrl + (+)放大 (-)縮小來改變字型大小。
    </noscript>

    <header id="myHeader">

        <a href="#content" id="gotocenter" title="移到主要內容" class="sr-only sr-only-focusable">跳到主要內容</a>

        <div class="small-header d-none d-lg-block" id="small-header">
            <div class="container-fluid">
                <div class="row justify-content-end align-items-center">
                    <a accesskey="U" href="#" title="上方功能區塊" class="sr-only sr-only-focusable">:::</a>
                    <div class="col-5 topLinks">
                        <a class="slink" href="@Url.Action("Index", "Home")" title="回首頁">回首頁</a>
                        <a class="slink" href="@Url.Action("Accessible", "Home")" title="網站導覽">網站導覽</a>
                        <a class="slink" href="@Url.Action("Index", "ContactUs")" title="聯絡我們">聯絡我們</a>
                        <a class="subscribe-btn" href="#" type="button" data-bs-toggle="modal" data-bs-target="#modelSubscript"><i class="fa-solid fa-paper-plane" aria-hidden="true"></i> 訂閱服務</a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="headernav" class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <h1 class="mb-0">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" title="桃竹苗企業人力資源服務網">
                    <img src="~/areas/frontend/img/logo.png" alt="桃竹苗企業人力資源服務網" class="img-fluid">
                </a>
                </h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <a accesskey="M" href="#" title="主要功能選單區塊" class="sr-only sr-only-focusable">:::</a>
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/areas/frontend/img/icon/icon-a.png" class="me-2" alt="">最新消息
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("List", "News")">最新消息</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("List", "YouTube")">影音專區</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/areas/frontend/img/icon/icon-b.png" class="me-2" alt="">活動訊息
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <li><a class="dropdown-item" href="@Url.Action("List", "Activity")">活動訊息</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("List", "Album")">活動花絮</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/areas/frontend/img/icon/icon-c.png" class="me-2" alt="">企業資源專區
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <li><a class="dropdown-item" href="@Url.Action("Map", "Resource")">計畫資源地圖</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("List", "Resource", new { id = "企業訓練資源"})">企業訓練資源</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("List", "Resource", new { id = "就業服務資源"})">就業服務資源</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("List", "Resource", new { id = "紓困資源"})">紓困資源</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("List", "Resource", new { id = "其他資源"})">其他資源</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Consult")">
                                <img src="~/areas/frontend/img/icon/icon-d.png" class="me-2" alt="">諮詢輔導服務
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/areas/frontend/img/icon/icon-e.png" class="me-2" alt="">人資小幫手
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                <li><a class="dropdown-item" href="@Url.Action("List", "HR", new { id = "HR知識充電站"})">HR知識充電站</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Manual", "HR")">HR工具箱</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("List", "HR", new { id = "成功案例分享"})">成功案例分享</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        
        <div>
            @RenderBody()
        </div>


        <a id="gotopbutton" href="#"><div class="fs--1 mt-5">back to top</div></a>

        <div class="Cta-btn">
            <a data-bs-toggle="modal" data-bs-target="#staticBot" href="#">
                <img src="~/areas/frontend/img/icon_NEW.png" alt="智能客服聊天室" />
            </a>
        </div>

    </main>

    <!-- ================================================== -->
    <!-- Footer -->
    <!-- ================================================== -->
    <footer class="container-fluid mt-5 p-lg-5 p-4 position-relative">
        <img src="~/areas/frontend/img/circle.png" class="pic-circle-bottom d-none d-lg-block" alt="">
        <div class="footer row row-cols-auto justify-content-center align-items-center flex-column flex-md-row">
            <div class="col">
                <img src="~/areas/frontend/img/footer/left-logo.png" class="img-fluid" alt="勞動力發展署桃竹苗分署Logo">
                <p class="fc-yellow text-center">您是第<span class="fw-bold mx-2 fs-5" id="lbVistiors">-</span>位訪客</p>
            </div>
            <div class="col">
                <img src="~/areas/frontend/img/footer/center-logo.png" class="img-fluid" alt="桃竹苗企業人力資源服務網Logo">
            </div>
            <div class="col fc-white">Copyright©2022企業人力資源服務網</div>
            <div class="col">
                <a href="https://accessibility.moda.gov.tw/Applications/Detail?category=20230502134732" target="_blank" title="無障礙網站(另開新視窗)" style="display:block;">
                    <img src="https://accessibility.moda.gov.tw/ImagesUploads/05bfd164-030e-448f-b83b-37c7dcb01eec.jpg" border="0" width="88" height="31" alt="通過AA無障礙網頁檢測" />
                </a>
            </div>
        </div>
    </footer>
    
    <!-- 條款及隱私權政策Modal -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">訂閱服務隱私權規範</h5>
                    <button type="button" class="btn-close" data-bs-dismCta-btniss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>為了保障您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的如何蒐集、應用及保護您所提供的個人資訊，以確保您的權益，請您詳閱下列內容：</p>

                    <h5>一、	適用範圍</h5>
                    <p>1.	本隱私權保護政策適用於您在使用本服務過程中，涉及個人資料蒐集、處理、利用與保護之相關作法。</p>
                    <p>2.	隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。</p>

                    <h5>二、	蒐集的資料類型、蒐集目的及使用方式</h5>
                    <p>為了在本網站上提供您最佳的互動性服務，可能會請您提供相關個人的資料，其範圍如下：</p>
                    <p>1.	本網站在您使用「訂閱服務」時，會保留您所提供的電子郵件及使用時間等。</p>
                    <p>2.	本網站伺服器會自動記錄使用者所閱讀的網頁、使用者電腦IP位址，做為統計分析網頁瀏覽人數及點閱率等數據性評估之依據，以利於提昇本網站的服務品質，不涉及使用者個人身分資料。</p>
                    <p>3.	本網站不會與第三人分享您的個人資料，除非有下列情形：</p>
                    <p>(1)	經由您同意。</p>
                    <p>(2)	法律明文規定。</p>
                    <p>(3)	為維護國家安全或增進公共利益。</p>
                    <p>(4)	為免除您生命、身體、自由或財產上之危險。</p>
                    <p>(5)	為防止他人權益之重大危害。</p>
                    <p>(6)	公務機關或學術研究機構基於公共利益為統計或學術研究而有必要，且資料經過提供者處理後或經蒐集者依其揭露方式無從識別特定之當事人。</p>
                    <p>(7)	有利於您的權益。</p>
                    <p>4.	您可依個人資料保護法當事人權利規定，行使個人資料查詢、閱覽、複製本、補充、更正、刪除，及停止蒐集、處理或利用之要求。</p>

                    <h5>三、	個人資料使用期間與地區</h5>
                    本服務僅在中華民國境內利用您的個人資料。您在本服務所輸入的個人資料，除於服務項目網頁上另有公告者或網站服務終止，將因應前述蒐集目的永久保存。</p>

                    <h5>四、	Cookies的運用</h5>
                    <p>1.	Cookies為資訊系統識別使用者而記錄於使用者硬碟之簡短資訊，您可於瀏覽器操作說明中可瞭解如何設定接受或拒絕cookies，如果您選擇拒絕，您將可能無法使用本網站部分服務項目。</p>
                    <p>2.	本網站伺服器僅能讀取使用者cookie中在本網站上的活動記錄，無法讀取使用者在其他網站的活動記錄。</p>

                    <h5>五、	本服務傳送訊息之方式</h5>
                    <p>當您申請「訂閱服務」後，將以電子郵件傳送本服務相關資料給您。您能隨時要求停止接收資料。</p>

                    <h5>六、	自我保護措施</h5>
                    <p>請妥善保管您的任何個人資料，不要隨意將任何個人資料提供給任何人。在您完成各項作業後，切記要關閉瀏覽器視窗，以防止他人讀取您的個人資料。</p>

                    <h5>七、	隱私權保護政策修訂</h5>
                    <p>本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。</p>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#modelSubscript" data-bs-toggle="modal" data-bs-dismiss="modal">確認</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 訂閱Modal -->
    <div class="modal fade" id="modelSubscript" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" id="exampleModalLabel">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">

                    <img src="~/areas/frontend/img/subs-done.png" class="img-fluid mt-n1" alt="">
                    <div class="fs-2 fw-bold">訂閱服務</div>
                    <img src="~/areas/frontend/img/subscribe.png" class="img-fluid" alt="">
                    <div class="text-start">
                        <div class="mb-3">
                            <label for="txtSubscriptEmail" class="form-label">Email<span class="fc-red ms-1">*</span></label>
                            <input type="email" class="form-control" id="txtSubscriptEmail" placeholder="請輸入Email" required>
                        </div>
                        <div class="mb-3" id="subs-form">
                            <div class="mb-2">訂閱內容<span class="fc-red ms-1">*</span></div>
                            <div class="form-check form-check-inline CusCheckbox-form">
                                <input class="form-check-input ckbSubScriptType" type="checkbox" id="inlineCheckbox-1" value="Activity" name="sort">
                                <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-1">課程/活動訊息</label>
                            </div>
                            <div class="form-check form-check-inline CusCheckbox-form">
                                <input class="form-check-input ckbSubScriptType" type="checkbox" id="inlineCheckbox-2" value="ProjectNews" name="sort">
                                <label class="form-check-label CusCheckbox-form-label" for="inlineCheckbox-2">計畫消息</label>
                            </div>
                        </div>
                        <div class="mb-3 form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="ckbRule" required>
                            <label class="form-check-label" for="ckbRule">我已詳讀
                                <button class="fc-orange border-0、bg-white" type="button" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">訂閱服務隱私權規範<span class="fc-red ms-1">*</span></button>
                                @*<a class="fc-orange" type="button" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">訂閱服務隱私權規範</a>
                                <span class="fc-red ms-1">*</span>*@
                            </label>
                        </div>
                        <div class="mb-3 d-flex">
                            <div>
                                <label for="txtValidNum" class="form-label">驗證碼<span class="fc-red">*</span></label>
                                <input type="text" class="form-control" id="txtValidNum" placeholder="請輸入驗證碼" required>
                            </div>
                            <div>
                                <audio id="playerSubscript" controls src="@Url.Action("TTS", "Home", new { id = "Subscript" })" style="display:none;"></audio>
                                <img id="LoginCode" src="@Url.Action("GetValidateCode", "Home", new { id = "Subscript" } )" class="w-40 ml-3 mt-4 btnHomeRefreshValid" alt="圖片驗證碼" style="cursor:pointer;" />
                                <a href="#" class="PlayValidCodeSubscript" title="播放圖片驗證碼">
                                    <img src="~/areas/frontend/img/speaker.png" alt="播放圖片驗證碼" />
                                </a>
                            </div>
                        </div>
                    @Html.AntiForgeryToken()
                    <button type="button" class="btn btn-success mb-2 w-100" id="btnSendSubscript">確定</button>
                    <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 聊天機器人Modal -->
    <!-- 智能客服Modal -->
    <div class="modal fade botModal" id="staticBot" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">智能客服</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe src="@_conf["BotLink"]" width="445" height="550" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" title="智能客服"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 智能客服Modal end -->

    <script src="~/areas/frontend/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L1P0FVFHJK"></script>

    @{
        Context.Session.Set(BASE.Areas.Backend.Models.SessionStruct.VerifyCode.Subscript, new ValidImageHelper().RandomCode(5));
    }

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-L1P0FVFHJK');
    </script>

    <script>
        $(document).ready(function(){

            $('.btnHomeRefreshValid').click(function () {
                $(this)[0].src = '@Url.Action("GetValidateCode", "Home", new { id = "Subscript", refresh="Y"})&' + new Date().getTime();
                $(this).siblings('audio')[0].src = '@Url.Action("TTS", "Home", new { id = "Subscript" })';
            });

            $('.PlayValidCodeSubscript').click(function () {
                var audio = document.getElementById("playerSubscript");
                audio.play();
                return false;
            });

            $('#btnSendSubscript').click(function(){
                var token = $(this).siblings('input:hidden[name="__X-XSRFVerificationToken"]').val();
                var email = $('#txtSubscriptEmail').val();
                var validnum = $('#txtValidNum').val();
                var rule = $('#ckbRule');
                var checks = [];
                $('.ckbSubScriptType').each(function () {
                    if (this.checked)
                        checks.push($(this).val());
                });
                
                var isVerify = false;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ajaxValidVerify", "Home")',
                    async: false,
                    data: { UserInput: validnum, type: 'Subscript' },
                    success: function (response) {
                        isVerify = response.isSuccess;
                    }
                });

                if(email == '')
                    Swal.fire('請輸入您的訂閱信箱');
                else if(checks.length <= 0)
                    Swal.fire('請選擇至少一個訂閱項目');
                else if(!rule.is(':checked'))
                    Swal.fire('請確認您是否同意訂閱服務隱私權規範');
                else if (isVerify == false)
                    Swal.fire('驗證碼錯誤');
                else
                {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ajaxSubscript", "Home")',
                        data: {
                            email: email,
                            types: checks
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-XSRF-TOKEN", token);
                        },
                        success: function (response) {
                            Swal.fire({
                                icon: response.isSuccess ? 'success' : 'error',
                                text: response.message,
                            }).then((result) => {
                                if (response.isSuccess)
                                    location.reload();
                            });
                        }
                    });
                }
            });
        });
    </script>

    <script>
        $(function () {
            var $radios = $('input:radio[name=inlineRadioOptions]');
            if ($radios.is(':checked') === false) {
                $radios.filter('[value=iconRadio]').click();
                var radioValue = $radios.filter('[value=iconRadio]').click().attr("value");
                var targetRadio = document.getElementsByClassName(xssFilter(radioValue));

                $(targetRadio).show();
            }
            $('input[type="radio"]').click(function () {
                var inputValue = $(this).attr("value");
                var targetBox = document.getElementsByClassName(xssFilter(inputValue));
                $(".viewhidden").not($(targetBox)).hide();
                $(targetBox).show();
            });
        });

        function xssFilter(value) {
            if(typeof value == 'undefined')
                return;
            value = value.replace(">", "");
            value = value.replace("<", "");
            value = value.replace("\"", "");
            value = value.replace("'", "'");
            value = value.replace("\r", "");
            value = value.replace("\n", "");
            value = value.replace("\r\n", "");
            return value;
        }

        function listChange (value) {
            if (value == "listRadio") {
                $("#listRadioView").show();
                $("#iconRadioView").hide();
            }
            else {
                $("#listRadioView").hide();
                $("#iconRadioView").show();
            }
            
        }
    </script>

    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("myHeader").style.top = "0";
            } else {
                document.getElementById("myHeader").style.top = "-50px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>

    <script>
        var btn = $('#gotopbutton');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '200');
        });
    </script>

    
    <script>
        $(document).ready(function () {
            $.get('@Url.Action("Visitors", "Home")', null, function (response) {
                var baseCount = 0;
                if (response.isSuccess) {
                    var RealCount = parseInt(response.data);
                    var Count = baseCount + RealCount;

                    $('#lbVistiors').text(Count);
                }
            });
        });
    </script>


    @*提示訊息*@
    @if (TempData["TempMsg"] != null)
    {
        string Type = "alert";
        string ModalName = "msgmodal";

        if (TempData["TempMsgType"] != null)
        {
            @*alert, error, check*@
            switch ((MsgTypeEnum)TempData["TempMsgType"])
            {
                case MsgTypeEnum.error: Type = "error"; break;
                case MsgTypeEnum.info: Type = "alert"; break;
                case MsgTypeEnum.success: Type = "check"; break;
                case MsgTypeEnum.warning: Type = "alert"; break;
            }
        }

        switch ((string?)TempData["TempPlugin"])
        {
            case "toastr":
                <script type="text/javascript">
                    $(document).ready(function () {
                        toastr["@Type"]("@TempData["TempMsg"]", "@TempData["TempMsgDetail"]");
                    });
                </script>
                break;
            default:
                <script type="text/javascript">
                    $(document).ready(function () {
                        Swal.fire({
                            title: '@TempData["TempMsg"]',
                            text: '@TempData["TempMsgDetail"]',
                            icon: '@Type'
                        });
                    });
                </script>
                break;
        }

    }

    @RenderSection("Scripts", required: false)
    @Html.RenderPartialSectionScriptsAsync()

</body>
</html>
