@using BASE.Service
@model BASE.Areas.Frontend.Models.VM_HRPackage

@await Html.PartialAsync("_BannerPartial")



<!-- ================================================== -->
<!-- 人資小幫手 -->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5">
    <div class="container">
        <div class="row">
            <!-- 左邊按鈕區塊 -->
            <div class="col-lg-3 col-12">
                <div class="activityBtn bg-white p-3">
                    <ul class="nav nav-tabs flex-column" id="HRToolBoxTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href="@Url.Action("List", new { id = "HR知識充電站"})" class="nav-link">
                                <i class="fa-solid fa-lightbulb me-2" aria-hidden="true"></i>HR知識充電站
                            </a>
                        </li>
                        <hr class="dropdown-divider">
                        <a class="btn w-100" data-bs-toggle="collapse" href="#collapseHRtoolbox" role="button" aria-expanded="true" aria-controls="collapseHRtoolbox" id="hrtoolbox">
                            <i class="fa-solid fa-screwdriver-wrench me-2" aria-hidden="true"></i>
                            HR工具箱
                            <i class="fa-solid fa-chevron-down ms-2" aria-hidden="true"></i>
                        </a>
                        <div class="collapse show" id="collapseHRtoolbox">
                            <ul class="nav nav-tabs flex-column" id="HRTab" role="tablist">
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item" role="presentation">
                                    <a href="@Url.Action("Manual")" class="nav-link">HR工具說明書</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="@Url.Action("Packages")" class="nav-link active">HR材料包</a>
                                </li>
                            </ul>
                        </div>
                        <hr class="dropdown-divider">
                        <li class="nav-item" role="presentation">
                            <a href="@Url.Action("List", new { id = "成功案例分享"})" class="nav-link">
                                <i class="fa-solid fa-user-gear me-2" aria-hidden="true"></i>成功案例分享
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- 右邊內容區塊 -->
            <div class="col-lg-9 col-12">

                <!-- 搜尋列 -->
                <div class="p-2 searchBar bg-white">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-9 col-12">
                            <form method="post" id="frm" autocomplete="off" class="d-flex">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(x => x.Search.PagerInfo.m_iPageIndex, new { @class="hiddenCurrentPage" })
                                @Html.HiddenFor(x => x.Search.PagerInfo.m_iPageCount, new { @class="hiddenPageCount" })
                                @Html.HiddenFor(x => x.Search.PagerInfo.m_Search, new { @class="pager-Info-Search" })

                                @Html.TextBoxFor(x => x.Search.Keyword, new {  @class="form-control rounded-0 border-0 border-end", placeholder="請輸入關鍵字" })
                                <button class="btn btn-secondary ms-3 rounded-end"><i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div class="col-md-3 col-12 text-center mt-2 mt-md-0" id="materialBox">
                            <div class="form-check form-check-inline CusRadiobox-form">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="iconRadio" value="iconRadio">
                                <label class="form-check-label CusRadiobox-form-label -left" for="iconRadio"><i class="fa-solid fa-file" aria-hidden="true"></i></label>
                            </div>
                            <div class="form-check form-check-inline CusRadiobox-form">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="listRadio" value="listRadio">
                                <label class="form-check-label CusRadiobox-form-label -right" for="listRadio"><i class="fa-solid fa-list" aria-hidden="true"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- 圖示顯示 -->
                <div class="iconRadio viewhidden mt-4" id="iconRadioView">
                    <div class="row g-3">
                        @foreach(var item in Model.ExtendList)
                        {
                            <div class="col-lg-4 col-md-6 col-12">
                                <a href="@item.FileInfo.FilePath" title="HR材料包" class="item" download="@item.FileInfo.FileName">
                                    <div class="pics">
                                        <img src="~/areas/frontend/img/hr/file-hover.png" class="img-fluid" alt="" />
                                        <img src="~/areas/frontend/img/hr/file.png" class="img-fluid" alt="" />
                                    </div>
                                    <div class="title">@item.Header.Title</div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <!-- 圖示顯示 END-->
                <!-- 列表顯示 -->
                <div class="listRadio viewhidden mt-4" id="listRadioView">
                    <ul class="material-package">
                        @foreach(var item in Model.ExtendList)
                        {
                            <li>
                                <a href="@item.FileInfo.FilePath" class="item" download="@item.FileInfo.FileName">
                                    <div class="title fw-medium">
                                        @item.Header.Title
                                    </div>
                                    <div class="d-none d-md-block">
                                        <i class="fa-solid fa-download" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- 列表顯示 END-->


                <div class="mt-5">
                     @await Html.PartialAsync("_Pagination", Model.Search.PagerInfo)
                </div>


            </div>
        </div>
    </div>
</div>