@using BASE.Service
@using Microsoft.AspNetCore.Html;
@model BASE.Areas.Frontend.Models.VM_OnePage

@await Html.PartialAsync("_BannerPartial", new BASE.Areas.Frontend.Models.Extend.BannerPartial(){ Main = "計畫資源地圖", Detail = "" })

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#content').find('img').addClass('img-fluid');
        });
    </script>
}


<!-- ================================================== -->
<!-- 企業資源專區 -->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5">
    <div class="container">
        <div class="row">
            <!-- 左邊按鈕區塊 -->
            <div class="col-lg-3 col-12">
                <div class="activityBtn bg-white p-3">
                    <a accesskey="L" href="#" title="左方功能區塊" class="sr-only sr-only-focusable">:::</a>
                    <ul class="nav nav-tabs flex-column" id="resourceTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href="@Url.Action("Map")" class="nav-link active">
                                <i class="fa-solid fa-map me-2" aria-hidden="true"></i>計畫資源地圖
                            </a>
                        </li>
                        <hr class="dropdown-divider">
                        <li class="nav-item" role="presentation">
                            <a href="@Url.Action("List", new { id = "企業訓練資源" })" class="nav-link">
                                <i class="fa-solid fa-screwdriver-wrench me-2" aria-hidden="true"></i>企業訓練資源
                            </a>
                        </li>
                        <hr class="dropdown-divider">
                        <li class="nav-item" role="presentation">
                            <a href="@Url.Action("List", new { id = "就業服務資源" })" class="nav-link">
                                <i class="fa-solid fa-user-gear me-2" aria-hidden="true"></i>就業服務資源
                            </a>
                        </li>
                        <hr class="dropdown-divider">
                        <li class="nav-item" role="presentation">
                            <a href="@Url.Action("List", new { id = "紓困資源" })" class="nav-link">
                                <i class="fa-solid fa-file-lines me-2" aria-hidden="true"></i>紓困資源
                            </a>
                        </li>
                        <hr class="dropdown-divider">
                        <li class="nav-item" role="presentation">
                            <a href="@Url.Action("List", new { id = "其他資源" })" class="nav-link">
                                <i class="fa-solid fa-magnifying-glass me-2" aria-hidden="true"></i>其他資源
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 右邊內容區塊 -->
            <div class="col-lg-9 col-12" id="content">
                <a accesskey="C" href="#" title="中央內容區塊" class="sr-only sr-only-focusable">:::</a>
                @(new HtmlString(Model.ExtendItem.Contents))
            </div>
        </div>
    </div>
</div>