@using BASE.Extensions
@model BASE.Areas.Backend.Models.VM_Consult
@section CustomScripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
        @*檔案上傳物件*@
            $('.File').each(function () {
                $(this).FileInputCus({
                    dropZoneEnabled: false,
                    previewFileType: 'false'
                });
            });
        });
    </script>
}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th>項次</th>
                                    <th>輔導日期</th>
                                    <th>管理</th>
                                </tr>
                            </thead>
                            <tbody>
                            @if (Model.CounselingHistoryExtendList != null && Model.CounselingHistoryExtendList.Count > 0)
                            {
                                for (int i = 0; i < Model.CounselingHistoryExtendList.Count; i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td style="max-width:30vw;">
                                            @(Model.CounselingHistoryExtendList[i].ConsultRegister.ReAssignDate.HasValue ? Model.CounselingHistoryExtendList[i].ConsultRegister.ReAssignDate.Value.ToString("yyyy/MM/dd") : "--/--/--")
                                            @(Model.CounselingHistoryExtendList[i].ConsultRegister.ReAssignTime.HasValue ? Model.CounselingHistoryExtendList[i].ConsultRegister.ReAssignTime.Value : "--:--")
                                        </td>
                                        <td style="max-width:30vw;">
                                            @{
                                                string downloadFileName = "歷史輔導紀錄" + Model.CounselingHistoryExtendList[i].ConsultRegister.ReAssignDate.Value.ToString("yyyy_MM_dd");
                                            }
                                            <a class="btn btn-sm btn-default " title="下載檔案" href="@Model.CounselingHistoryExtendList[i].FileInfo.FilePath" download="@(downloadFileName)" target="_blank"><i class="bi-download"></i></a>
                                        </td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="3">目前暫無資料</td></tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <a class="btn btn-light" href="@(Url.Action("ConsultManage", "Consult", new { id = EncryptService.AES.RandomizedEncrypt(Model.ConsultRegisterId) }))">回上一頁</a>
                </div>
            </div>
        </div>
    </div>
</div>